.nav{
  
 border:solid black 1px;
 width:100%;
 height:6rem;
 font-family: 'Permanent Marker', cursive;
 font-size: 2.5rem;
 padding: 2rem;
 color:white;
 background-color: black;
 
 

  
 &__linkList{
  display: flex;
  
 }

 &__button{
   display:flex;
   justify-content: space-between;
   width: 17rem;
  position: absolute;
  top: 1.5rem;
  right: 1rem;
}
 }


li{
margin-right: 7rem;

}



