.nav{
  width: 100vw;
  height: 10vh;
  background-color: black;
  font-family: 'Permanent Marker', cursive;
  color: white;
  display: flex;
  justify-content: space-between;


  &__logo{
    width: 15%;
    font-size: 7rem;
    display: flex;
    align-items: center;
    margin-left: 2rem;
  }

   &__linkList{
    width: 40%;
    display: flex;
    justify-content: space-between;
    font-size: 3rem;
    align-items: center;
    margin-right: 10rem;
   }

   &__buttons{
    width: 18%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 1rem;
   }
}

